@import "search-results.css";
@import "item.css";
@import "modal.css";
@import "page/index.css";

:root {
  --color-prim: #D9CAB8;
  --color-sec: #5B7C8C;
  --color-terc: #FFF9F2;

  --color-link: #5B7C8C;
  --color-link-hover: #B8CED9;

  --color-border: #8C7C69;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

body.noscroll {
  overflow: hidden;
}