@import "aside.css";
@import "header.css";
@import "main.css";
@import "navigation.css";

.page {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 2rem 3rem auto;
  grid-template-areas:
    "header header header header header header header header"
    "aside aside nav nav nav nav nav nav"
    "aside aside main main main main main main";

  background-color: var(--color-terc);
}

.page__title {
  margin-top: .25em;
  margin-left: .25em;  

  color: var(--color-border);
  font-size: 2.5rem;
}

@media only screen and (max-width: 1200px) {
  .page {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-areas:
      "header"
      "nav"
      "aside"
      "main";
  }
}