.page__navigation {
  display: flex;
  padding-bottom: .5em;
  align-items: end;
  justify-content: end;
  grid-area: nav;

  border: 1px solid var(--color-border);
}

.page__navigation a {
  padding-right: .5em;
  margin-right: .5em;
  
  border-right: 1px solid var(--color-border);

  color: var(--color-link);
  text-decoration: none;

  transition: color .2s ease;
}

.page__navigation a:hover,
.page__navigation a:focus,
.page__navigation a:active {
  color: var(--color-link-hover);
}


.page__navigation a:last-of-type {
  margin-right: none;

  border-right: none;
}